<html>

  <head>
    {% if title %}
    <title>{{ title }} - Gene App</title>
    {% else %}
    <title>Welcome to The Gene App</title>
    {% endif %}

    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

  <script type="text/javascript">
      $('#myTabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
      })
  </script>

  {% block navbar %}
  <div>
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
          {% if not current_user.is_authenticated %}
          <li><a class="nav" href="{{ url_for('register') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          {% else %}
          <li role="presentation" class="active"><a href="{{ url_for('newrun') }}">New Run</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Profile <span class="caret"></span>
                </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('user', username=current_user.username) }}">Profile Page</a></li>
                <li><a href="{{ url_for('change_password', username=current_user.username) }}">Change Password</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li><a href="{{ url_for('delete_acct', username=current_user.username) }}">Delete Account</a></li>
            </ul>
          </li>
      {% endif %}
      </ul>
    </div>

  {% endblock %}

  <div class="alert">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <span style="color: red;"><strong>{{ message }}</strong></span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% endfor %}
    {% endif %}
  {% endwith %}
  
  </div>
  

  {% block content %}{% endblock %}

</body>
</html>
