<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="login" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Enter Your New Password</label>
        <div class="col-md-6">
        {{ form.new_password(size=40) }}
        </div>
        {% for error in form.new_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Confirm Your New Password</label>
        <div class="col-md-6">
        {{ form.new_password_confirm(size=40) }}
        </div>
        {% for error in form.new_password_confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Change Password</button> <br><br>
        </div>
    </div>
</form>

{% endblock %}