<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">


<div id='content'>
<h1>New Run</h1>
    <form action="{{url_for('newrun')}}" method="post" name="newrun" enctype="multipart/form-data" class="form-horizontal">
        {{ form.hidden_tag() }}
        <p>
        	Run Name:  <br>
            {{ form.runName(size=40) }} <br>
        </p>
        <p> Data:
        {{ form.sequenceInfo }} </p>
        <p> Input file
        {{ form.inputfile }} </p>
        <p> Method: 
        {{ form.method }} </p>
        <p> Epitope length: 
        {{ form.epitopeLength }} </p>
        <p> IC50 cutoff: 
        {{ form.cutoff }} </p>
        <p> IEDB retries: 
        {{ form.retries }} </p>
        <p> Temperature: 
        {{ form.retries }} </p>
        <p><input type="submit" value="Submit Job" onclick="loading();"></p>
    </form>
</div>

<div id='loading'>
    <a href="{{ url_for('static', filename='loading.gif') }}">
</div>

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
function loading() {
    console.log("showhide");
    $('div#content').hide();
    $('div#loading').show();
}
</script>

{% endblock %}