<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1>Sign In to GeneThingy</h1>
<form action="" method="post" name="login" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            {{ form.username(size=40) }}
        </div>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-md-6">
        {{ form.password(size=40) }}
        </div>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{ form.remember_me }} Remember Me
        </label>
      </div>
    </div>
  </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button> <br><br>
    </div>
  </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href ="{{ url_for('fb_login') }}">Login with Facebook</a>
        </div>
    </div>
</form>

{% endblock %}
