<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1>Register for GeneThingy</h1>
<form action="" method="post" name="register" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            {{ form.email(size=40) }}
        </div>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            {{ form.username(size=40) }}
        </div>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-md-6">
        {{ form.password(size=40) }}
        </div>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-md-6">
        {{ form.confirm_password(size=40) }}
        </div>
        {% for error in form.confirm_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </div>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign Up</button> <br><br>
    </div>
  </div>
</form>

{% endblock %}