{% extends "base.html" %}

{% block content %}
  <h1>User: {{ current_user.username }}</h1>
  <hr>
  <div class="list-group">
  {% for url in constructed_urls %}
    <a href="{{ url }}" class="list-group-item">{{ file_names[loop.index0] }}</a>
  {% endfor %}
</div>

{% endblock %}