{% extends "base.html" %}

{% block content %}


  <head>
    <meta charset="utf-8">
    <title>Run {{ filepath }}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/tipsy.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vis.css') }}">
  </head>
  
  
  <body>
  <canvas id='canvas'>
  <p> test </p>
  </canvas>
  </body>
  

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="{{ url_for('static', filename='js/vis.js') }}"> </script>
  
  <script> var i = 0; var j = 0; var scores = [] </script>
 
  <script> 
  nodes.push({id : 'cassette', index : 0, reflexive : false, weight : 100}) </script>
  {% for id1 in nodes %}
  	<script> 
  	var seq = ' {{ nodes[id1].get('sequence') }} '
  	nodes.push({id : '{{ id1 }}' , index : ++i, reflexive : false, weight : 1, sequence : seq }); 
  	</script>
  {% endfor %}

  {% for id1 in nodes %}
  	{% for id2 in nodes[id1] %}
  		<script> 
  		var seq = "sequence";
  		if (seq != '{{ id2 }}') {
  			scores.push(' {{ nodes[id1][id2]["score"] }} ')
  		}
  		</script>
  	{% endfor %}
  {% endfor %}

  <script> 
  	for (var j = 0; j < i; j++) {
  		console.log(scores[j])
  		links.push({source : nodes[j], target : nodes[j+1], left : false, right : true, score : scores[j]})
  	}
  	links.push({source : nodes[j], target : nodes[0], left : false, right : true})
	</script>
	<br><br>
	
	<!--<script>-->
	<!--function take_screenshot() {-->
		<!--var c = document.getElementById('canvas');-->
		<!--var t = c.getContext('2d');-->
		<!--window.open('', document.getElementById('canvas').toDataURL());-->
	<!--}-->
	<!--</script>-->
	<a href='{{ url_for("download", path=filepath) }}'> Download raw data </a>
	<!--<div id="wrapper">-->
		<!--<div id="screenshot_div">-->
		  <!--<button type="button" onclick="take_screenshot()">Take Screenshot</button>-->
		<!--</div>-->
	<!--</div>-->

	

<script> force.charge(-5000); restart(); force.charge(-500); restart(); </script>





{% endblock %}